html {
  // --colors-bg: #e6f8fe;
  --colors-bg: #fff;
  --colors-bg-light: #e6f8fe;
  --colors-fg: #ffec9e;
  
  --colors-h1: #fe888c;
  --colors-h2: #c7cafd;

  --colors-primary: #dbfba8;
  --colors-secondary: #fdad62;
  --colors-action: #fdcacf;
  --colors-hover: #dbfba8;
}


// $colors-bg: #fff;
// $colors-fg: #c9caf7;

// $colors-h1: #e1948e;
// $colors-h2: #c9caf7;